{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "20",
            "esmodules":"true"
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-class-properties"
    ]
  }